@import url('https://unpkg.com/leaflet@1.0.3/dist/leaflet.css');

@include cssPrefix('leaflet') {

  &-wrapper {
    display: block;
    padding-top: 40px;

    @include bp-sm {
      padding-top: 0;
    }
  }

  &-container {
    display: block;
    background-color: white;
    width: 100%;
    height: 450px;

    @include bp-xs {
      height: 300px;
    }

    @include bp-sm {
      height: 600px;
    }

    @include bp-lg {
      height: 800px;
    }

    // leaflet controls
    .leaflet-control {

      &.leaflet-control-layers {
        @media (max-width: $screen-sm - 1) {
          // position: absolute;
          // top: 0px;
          // right: 0px;
        }
      }

    }

  }
}
