@import './history-chart/history-chart.scss';

@include cssPrefix('infobox') {

  // FIXME
  // @include visible(&);
  display: none;
  &.-visible {
    display: block;
  }

  position: absolute;
  background-color: $white-transp;
  padding: 15px;
  z-index: 1111;

  @include bp-sm {
    width: 300px;
  }

  &__title {
    margin: 0;
    font-family: $font-neuzeit;
  }

  &__state {
    color: $gray-dark;
    font-size: 14px;
  }

  &__section {
    display: block;
    width: 100%;

    @include bp-xs {
      float: left;
      width: 50%;
    }

    @include bp-sm {
      float: none;
      width: 100%;
    }
  }

  p {
    padding-bottom: 0;
  }

  dl {
    display: block;
    padding-right: 10px;
    // width: 33%;
    float: left;
  }

  dt {
    padding-top: .7em;
    font-size: 20px;
    line-height: 1em;
    font-family: $font-neuzeit;
    font-weight: bold;
  }

  dd {
    font-weight: normal;
    line-height: 1.2em;

    &.badge {
      padding: 3px 5px 3px 5px;
      border-radius: 3px;
    }

    &.badge--t {
      background-color: $total-color;
    }

    &.badge--e {
      background-color: $exclusive-color;
    }

    &.badge--i {
      background-color: $inclusive-color;
    }
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    font-family: $font-neuzeit;
    font-size: 25px;
    line-height: 25px;
    width: 20px;
    height: 20px;

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    @include hide-bigger();
  }
}
