@include cssPrefix('app-wrapper') {

  display: block;
  position: relative;
  width: 100%;

}

// if use for hotspots viz:
@include cssPrefix('hotspots-container') {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;

  @include bp-sm {
    width: 300px;
    position: absolute;
    left: 0;
  }
}

@include cssPrefix('map-container') {
  display: block;
  width: 100%;

  @include bp-sm {
    padding-left: 300px;
  }
}
