@include cssPrefix('history-chart') {

  clear: both;  // because of `dl` above
  display: block;
  width: 100%;

  &:after {
    content: '';
    clear: both;
  }

  &__svg {

    .line {
      fill: none;
      @include transition(all, $transition-duration);
      stroke-width: 2px;

      &--pwi_h, &--pai_h {
        stroke: $total-color;
      }

      &--pwa_h, &--paa_h {
        stroke: $exclusive-color;
      }

      &--pwn_h, &--pan_h {
        stroke: $inclusive-color;
      }
    }

    .axis {
      &--y {
        text {
          fill: $black;
        }
      }
    }

  }

}
