@include cssPrefix('searchbox') {
  position: absolute;  // FIXME
  display: block;
  width: 100%;
  padding: 0 15px 15px 15px;
  z-index: 1110;

  @include bp-sm {
    position: absolute;
    width: 350px;
    top: 0px;
    right: 0px;
    // disable mouseover around box:
    padding: 10px 10px 40px 40px;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 3px;
    font-size: 15px;
  }

  &__result-list {
    position: absolute;
    top: 34px;
    left: 15px;
    right: 15px;
    display: block;
    background-color: $white-transp;
    box-shadow: $box-shadow;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    z-index: 100;

    @include bp-sm {
      width: 300px;
      top: 43px;
      left: 40px;
      right: 10px;
    }

    &__item {
      cursor: pointer;
      padding: 10px;
      list-style: none;
      @include transition(background-color, $transition-duration);

      span {
        display: block;
        font-size: 12px;
        font-weight: bold;
      }

      &:hover {
        @include transition(background-color, $transition-duration);
        background-color: $gray-light;
      }
    }
  }

}
